
/PhoneConnector/_ReSharper.PhoneConnector
/PhoneConnector/PhoneConnector/obj
/PCConnector/out
/PhoneConnector/PhoneConnector/bin/Debug
/PhoneConnector/PhoneConnector/bin/Release
/PhoneConnector/PhoneConnector/bin/Debug